body {
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
    animation: Gradient 15s ease infinite;
    background-size: 200% 200%;
    color: #ffffff;
  }

  h1,
  h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  .board {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  
  .position {
    box-sizing: border-box;
    margin: 1px;
    pointer-events: all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .field.player-one {
    width: 297px;
    height: 297px;
  }
  
  .position.player-one {
    width: 25px;
    height: 25px;
  }
  
  .position.player-one.water { background-color: #ABDCFF; }
  .position.player-one.ship { background-color: #0396FF; }

  .position.player-one.hit {
    background-color: #EA5455;
  }

  .field.player-two {
    width: 682px;
    height: 682px;
  }
  
  .position.player-two {
    width: 60px;
    height: 60px;
  }
  
  .position.player-two-label {
    width: 20px;
    height: 20px;
  }

  .position.player-two.water {
    background-color: #90F7EC;
    transition: transform 500ms;
  }
  .position.player-two.water:hover {
    background-color: #32CCBC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(3px, 3px);
  }
  
  .position.player-two.hit {
      background-color: #28C76F;
  }